<html>
<head>
    <title>Home Page</title>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/app.css">
</head>
<title>{% block title %}Home Page{% endblock %}</title>
<body>
    <!-- ## In base page body Create Header and include navbar
    ## Then create Component BLock rendering subpages for load  -->

    {% include 'navbar.html' %}
    {% block content %}
    <div> Loading....</div>
    {% endblock %}

</body>
    <footer id="footer">This is page footer</div>
</html>